# Ignore node_modules directory in the main folder
/node_modules/

# Ignore node_modules directories in all subfolders
**/node_modules/

# Other files and directories to ignore
.DS_Store
.env
dist
build